<p id="notice"><%= notice %></p>

<p>
  <b>Project:</b>
  <%=  @project.project %>
</p>

<%= link_to 'New task', new_project_task_path(@project) %> |
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
